{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="one-half column" style="margin-top: 5%">
        <h4>Dashboard</h4>
    </div>
    <table class="u-full-width">
        <thead>
            <tr>
            <th>Date/Time</th>
            <th>Question</th>
            <th>Response</th>
            <th>Answered?</th>
            <th>Model Version</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs.items %}
            {% if log.answered %}
            <tr>
            {% else %}
            <tr style="background-color: rgb(255, 199, 199)">
            {% endif %}
                <td>{{ log.when }}</td>
                <td>{{ log.question }}</td>
                <td>{{ log.response }}</td>
                <td>{{ log.answered }}</td>
                <td>{{ log.model_version }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row" style="display: flex; align-items: center; justify-content: center;">
    {% if logs.pages != 1 %}
        {% for page_num in logs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            <a href="{{ url_for('dashboard', page=page_num) }}" style="text-decoration: none; color: black;">
                <div style="width: 35px;
                            height: 35px;
                {% if page_num == logs.page %}
                            background-color: rgb(233, 233, 233);
                            border-radius: 100%;
                {% endif %}
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 5px;">
                        {{ page_num }}
                    </div>
                </a>
            {% else %}
                <div>
                    ...
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}